<div class="col-md-10 col-xs-12 pt-25" ui-view="create_listing_view">

    <div class="clearfix">
        <h4 class="mt-0 mb-15 pull-left">Marketplace</h4>                
        <div class="new_add pull-right">            
                <a ng-class="{'active' : $state.includes('marketplace.create', {listing_type: 'classified'}) }" ng-href="#" title="Create a classified" ui-sref="marketplace.create({listing_type:'classified'})" class="checklist_button">
                <span class="h3 vertical-sub">&#43;</span>Add New
            </a>
        </div>
    </div>
    <div class="pg_account_listing tab-pane">
        
        <table ng-if="listingCtrl.listing.data" class="table table-bordered table-vertically-center table-responsive bordered table-striped table-condensed datatable"
               ui-jq="dataTable" ui-options="dataTableOpt">
            <thead>
                <tr style="display:none;">
                    <th>id</th>
                    <th>Type</th>
                    <th>Type</th>
                    <th>Gallery</th>
                    <th>Price</th>
                    <th>Title</th>
                </tr>
            </thead> 
            <tbody>
                <tr class="fadeInUp animated" ng-repeat="list in listingCtrl.listing.data">
                    <td style="display:none;"><%list.id%></td>
                    <td class="tb_border-right">
                        <div class="pull-left mr-10">
                            <div ng-if='list.assets.length>0' class="classifiedCircle">
                                <img ng-src="<% list.assets[0].path+list.assets[0].name %>" />
                            </div>
                            <div ng-if='list.type == "classified" && list.assets.length==0' class="classifiedCircle">C</div>              
                        </div>
                        <div class="pull-left">
                            <h5 class="mt-0 mb-0">
                                <a ng-if="listingCtrl.today <= list.expiry" class="listing-title1 text-capitalize text-teal d-inlineB" href="<% listingCtrl.host %>/classifieds?id=<%base64_encode(list.id)%>"><%list.title%></a>
                                <a ng-if="listingCtrl.today > list.expiry" class="listing-title1 text-capitalize text-teal d-inlineB" ><%list.title%></a>
                            </h5>              
                            <small ng-if="listingCtrl.today <= list.expiry && list.status==1 && list.visa_id==0" class="bg-teal d-inlineB text-white mt-5 ng-scope btn-xs">Active</small>
                            <small ng-if="list.visa_id==1" class="bg-teal d-inlineB text-white mt-5 ng-scope btn-xs">Sold</small>
                            <small ng-if="listingCtrl.today > list.expiry && list.status==1 && list.visa_id==0" class="btn-warning d-inlineB text-white mt-5 ng-scope btn-xs">Expired</small>
                            <small ng-if="listingCtrl.today <= list.expiry && list.status==0 && list.visa_id==0" class="bgYellow d-inlineB text-white mt-5 ng-scope btn-xs">Deactive</small>
                        </div>            
                    </td>
                    <td class="text-center middle-align tb_border-right tb_border-left">
                        <div >
                            <!-- <span><label ng-if="list.visa_id==1">Sold</label><br />                             -->
                        </div>
                    </td>
                    <td class="text-right w100 middle-align tb_border-left">
                        <div ng-if="list.type != 'deal'" >
                            <label>Price:</label> <i class="fa fa-dollar"></i><% list.price | limitTo : 7 %>              
                        </div>                        
                    </td>
                    <td class="text-center account_social_links w70 middle-align">
                        <a href="javascript:;" socialshare socialshare-provider="facebook" socialshare-text="<%list.title%>"
                           socialshare-description="<%list.description%>" socialshare-url="<% listingCtrl.host %>/<%list.url%>?id=<%base64_encode(list.id)%>"
                           socialshare-type="feed" socialshare-media="<% listingCtrl.host %><%list.assets[0].path%><%list.assets[0].name%>"
                           socialshare-via="647543305681906"><i class="fa fa-facebook fb"></i>
                        </a>
                        <a href="javascript:;" socialshare socialshare-provider="twitter" socialshare-text="<%list.title%>"
                           socialshare-hashtags="<%list.title%>" socialshare-url="<% listingCtrl.host %>/<%list.url%>?id=<%base64_encode(list.id)%>"><i
                                class="fa fa-twitter tw"></i>
                        </a>
                        <a href="javascript:;" socialshare socialshare-provider="linkedin" socialshare-text="<%list.title%>"
                           socialshare-description="<%list.description%>" socialshare-url="<% listingCtrl.host %>/<%list.url%>?id=<%base64_encode(list.id)%>"><i
                                class="fa fa-linkedin link"></i>
                        </a>
                    </td>
                    <td class="actionIcons w70 middle-align">
                        <a ng-href="#" ui-sref="marketplace.update({listing_type:list.type,list_id:base64_encode(list.id)})" title="Edit"><i
                                class="fa fa-pencil-square-o"></i></a>
                        <a ng-href="#" prevent-default ng-click="listingCtrl.delete_options($event, list.id)" title="Delete"><i
                                class="fa fa-trash text-danger"></i></a>
                        <div class="delte_selection" id="delete_options_<%list.id%>">
                            <p>Sure to Delete!<p>
                                <button class="ok btn btn-xs btn-default" ng-href="#" prevent-default ng-click="listingCtrl.delete($event, list.id)">Yes</button>
                                <button class="cancel  btn btn-xs btn-default" ng-href="#" prevent-default ng-click="listingCtrl.delete_options_cancel($event, list.id)">No</button>
                        </div>
                    </td>        
                </tr>
            </tbody>
        </table>
    </div>
</div>